.quote {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 25px 0;
	color: white;
}

.quote__desc {
	font-size: 25px;
}

.quote__author {
	padding-top: 20px;
	transform: skew(-15deg);
}
